@import "tailwindcss";

body {
    background-color: var(--color-muted);
}

@theme {
    /* backgrounds */
    --color-surface: #ffffff;
    --color-muted: #f4f5f7;

    /* estados */
    --color-primary: #7b39ec;
    --color-secondary: #ead4ff;
    --color-success: #22c55e;
    --color-error: #ef4444;
    --color-warning: #f59e0b;
    --color-info: #0ea5e9;

    /* textos */
    --color-title: #111827;
    --color-subtle: #6b7280;
    --color-nav: #aeafb4;

    /* table */
    --color-t-head: #d4d3d8;
}

@layer components {
    .input {
        @apply w-full px-4 py-2 rounded-md border-1 border-gray-300 outline-0 cursor-pointer focus-within:border-primary;
    }

    .btn {
        @apply rounded-md uppercase font-bold hover:scale-102 cursor-pointer p-4 flex items-center gap-3 transition-all;
    }

    .card {
        @apply bg-surface border border-gray-300 rounded-md space-y-3 border-b-8 flex flex-col justify-between p-5;
    }
}